* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    max-width: 70%;
    margin: auto;
}

.small-container {
    max-width: 60%;
    margin: auto;
}

.flex {
    display: flex;
}